@import './material';
@import './notification';

html {
  overflow-x: hidden;
  overflow-y: hidden;
  body {
    margin: 0;
    font-family: Arial;
    background-color: #f4f4f4;
    direction: rtl;
    
    textarea {
      resize: none;
    }
    .page-scroll {
      overflow-y: scroll;
      height: calc(100vh - 60px);
      box-sizing: border-box;
    }
  }
}
