<mat-card class="component app-block">
  <div class="anchor" #goto></div>
  <div class="title">מעבר אל (Goto)</div>
  <div class="var-select text-field">
    <div class="float-name">{{ block.goto }}</div>
    <mat-form-field>
      <mat-select>
        <mat-option
          *ngFor="let block of this.blockService.blockList"
          (click)="select(block)"
        >
          {{ block.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="scroll-links" *ngIf='!isEnd' >
    <div class="scroll-link">
      <a (click)='gotoSnippet()'>מעבר למקטע</a>
    </div>
  </div>
  <div class="error" *ngIf="isEnd">
    לא נמצא מקטע
  </div>
  <div class="delete" (click)="removeSelf()"><mat-icon>delete</mat-icon></div>
  <div class="reorder">
    <mat-icon (click)="up()">keyboard_arrow_up</mat-icon>
    <mat-icon (click)="down()">keyboard_arrow_down</mat-icon>
  </div>
</mat-card>
