<div class="component">
  <mat-card class="app-block">
    <div class="title">לחצן משוב</div>
    <div class="name text-field">
      <div class="label">משתנה:</div>
      <input [formControl]="input">
    </div>
    <div class="error" *ngIf="block.buttons.length === 0">
      הוסיפו בבקשה לפחות לחצן אחד
    </div>
    <button mat-flat-button color="primary" (click)="addButton()">הוספת לחצן</button>
    <div class="scroll-links" *ngIf="switchBlockList.length > 0">
      <div class="scroll-link" *ngFor="let switchBlock of switchBlockList">
        <a (click)="scroll(switchBlock)">switch</a>
      </div>
    </div>
    <div class="delete" (click)="removeSelf()"><mat-icon>מחיקה</mat-icon></div>
    <div class="reorder">
      <mat-icon (click)="up()">keyboard_arrow_up</mat-icon>
      <mat-icon (click)="down()">keyboard_arrow_down</mat-icon>
    </div>
  </mat-card>
  <div class="buttons block-line">
    <div class="button" *ngFor="let button of block.buttons; let i = index">
      <mat-card class="app-block">
        <div class="title">לחצן</div>
        <div class="name text-field">
          <div class="label">הצגה:</div>
          <input [(ngModel)]="button.show">
        </div>
        <div class="name text-field">
          <div class="label">ערך:</div>
          <input [(ngModel)]="button.value">
        </div>
        <div class="delete" (click)="deleteButton(i)"><mat-icon>מחיקה</mat-icon></div>
        <div class="reorder">
          <mat-icon (click)="upButton(i)">keyboard_arrow_up</mat-icon>
          <mat-icon (click)="downButton(i)">keyboard_arrow_down</mat-icon>
        </div>
      </mat-card>
    </div>
  </div>
</div>
