<div class="component">
  <mat-card class="app-block">
    <div class="title">Wait Button</div>
    <div class="name text-field">
      <div class="label">Variable:</div>
      <input [(ngModel)]="block.variable">
    </div>
    <button mat-flat-button color="primary" (click)="addButton()">Add Button</button>
    <div class="delete" (click)="remove.emit()"><mat-icon>delete</mat-icon></div>
  </mat-card>
  <div class="buttons" *ngFor="let button of block.buttons; let i = index">
    <mat-card class="app-block">
      <div class="title">Button</div>
      <div class="name text-field">
        <div class="label">Show:</div>
        <input [(ngModel)]="button.show">
      </div>
      <div class="name text-field">
        <div class="label">Value:</div>
        <input [(ngModel)]="button.value">
      </div>
      <div class="delete" (click)="deleteButton(i)"><mat-icon>delete</mat-icon></div>
    </mat-card>
  </div>
</div>
