.page {
  padding: 20px;
  >.title {
    margin-bottom: 20px;
    font-size: 20px;
    opacity: 0.6;
    color: black;
  }
  >.editor {
    textarea {
      width: 800px;
      // Why is it when I set 200px I get "computed" 600px?
      height: 200px;
    }
  }
  >.buttons {
    margin-top: 10px;
    button {
      margin-right: 10px;
    }
  }
}
