<div class="component">
  <mat-card class="app-block">
    <div class="title">מקטע (Snippet)</div>
    <div class="arg text-field">
      <div class="label">שם המקטע:</div>
      <input [formControl]="input" *ngIf="!block.isDefault">
      <span class="static" *ngIf="block.isDefault">{{ block.name }}</span>
    </div>
    <div
      class="delete"
      (click)="removeSelf()"
      *ngIf="!block.isDefault"
    ><mat-icon>מחיקה</mat-icon></div>
    <div class="scroll-links">
      <div class="scroll-link" *ngFor="let source of sourceSnippets; let i=index;"> 
        <a (click)="scroll(gotoBlock)">קיימת הפניה לבלוק הזה ממקטע אחר בתסריט (goto)</a>
      </div>
    </div>
    <div class="reorder">
      <mat-icon (click)="up()">keyboard_arrow_up</mat-icon>
      <mat-icon (click)="down()">keyboard_arrow_down</mat-icon>
    </div>
  </mat-card>
  <div class="steps">
    <block-list [parent]='block' [blockList]="block.steps"></block-list>
  </div>
</div>
