@import 'styles/app-block';

.component {
  >.app-block {
    >.var-select {
      >.mat-form-field {
        position: absolute;
        top: 20px;
      }
    }
    >button {
      margin-top: 10px;
    }
  }
}
