<div class="component">
  <mat-card class="app-block">
    <div class="anchor" #anchor></div>
    <div class="title">Switch</div>
    <div class="var-select text-field">
      <div class="label">Arg:</div>
      <div class="float-name">{{ block.arg }}</div>
      <mat-form-field>
        <mat-select>
          <mat-option
            *ngFor="let variable of variableList"
            (click)="select(variable)"
          >
            {{ variable }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="error" *ngIf="isNotFound">
      No variable found
    </div>
    <button mat-flat-button color="primary" (click)="addCase()">Add Case</button>
    <div class="delete" (click)="removeSelf()"><mat-icon>delete</mat-icon></div>
    <div class="reorder">
      <mat-icon (click)="up()">keyboard_arrow_up</mat-icon>
      <mat-icon (click)="down()">keyboard_arrow_down</mat-icon>
    </div>
  </mat-card>
  <div class="cases block-line">
    <div class="case" *ngFor="let case of block.cases; let i = index">
      <mat-card class="app-block">
        <div class="title">Case</div>
        <div class="condition text-field" *ngIf="!case.isDefault">
          <div class="label">Match:</div>
          <input [(ngModel)]="case.match">
        </div>
        <div class="text-field">
          <mat-checkbox color="primary" [(ngModel)]="case.isDefault">Default</mat-checkbox>
        </div> 
        <div class="delete" (click)="deleteCase(i)"><mat-icon>delete</mat-icon></div>
        <div class="reorder">
          <mat-icon (click)="upCase(i)">keyboard_arrow_up</mat-icon>
          <mat-icon (click)="downCase(i)">keyboard_arrow_down</mat-icon>
        </div>
      </mat-card>
      <div class="steps">
        <block-list [blockList]="case.steps"></block-list>
      </div>
    </div>
  </div>
</div>
