@import 'styles/app-block';

.new-block {
  padding: 10px 20px;
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 480px;

  >.title {
    white-space: nowrap;
  }

  >.select {
    margin: 0 15px;
    margin-bottom: -1.25rem;
  }
  >.button {
    margin: 0 10px;
  }
}
