<div class="new-block app-block">
  <div class="title">הוספת בלוק חדש:</div>
  <div class="select">
    <mat-form-field>
      <mat-label>סוג הבלוק</mat-label>
      <mat-select [(value)]="blockTypeSelected">
        <mat-option *ngFor="let blockSelect of blockSelectList" [value]="blockSelect.type">
          {{ blockSelect.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="button">
    <button mat-flat-button color="primary" (click)="addBlock()">הוספת בלוק</button>
  </div>
</div>
