.component {
  position: relative;
  margin-bottom: 10px;
  >.delete {
    position: absolute;
    top: 0;
    $width: 50px;
    width: $width;
    height: 100%;
    right: -$width;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    >.mat-icon {
      font-size: 23px;
      line-height: normal;
      height: auto;
      width: auto;
      color: #404040;
      opacity: 0.2;
    }
    &:hover {
      >.mat-icon {
        opacity: 0.8;
        font-size: 30px;
      }
    }
  }
}
