<mat-card class="app-block">
  <div class="title">תרחיש</div>
  <div class="name text-field">
    <div class="label">
        * הזינו את תרחישי השימוש הרלוונטים לארגון, לאיתור אוטומטי<br>
        * השאירו ריק אם הארגון רלוונטי לכל סוגי הפניות<br>
        * הזינו `{{ '{' }}"run":"never" {{ '}'}}` כדי לא לכלול את הארגון באיתור אוטומטי של ארגונים<br>
        ----<br>
        json:
    </div>
    <textarea autosize [formControl]="textarea"></textarea>
  </div>
  <div class="error" *ngIf="isError">
    Invalid JSON
  </div>
  <div class="delete" (click)="deleteScenario.emit()"><mat-icon>delete</mat-icon></div>
  <div class="reorder">
    <mat-icon (click)="upScenario.emit()">keyboard_arrow_up</mat-icon>
    <mat-icon (click)="downScenario.emit()">keyboard_arrow_down</mat-icon>
  </div>
</mat-card>
